body {background-color: #eaeaea; 
    color: #000;
    font-family: arial;}
    
    h1 {background-color: none;
    font-family:'PT Sans', sans-serif;
    font-size: 30px;
    color: #e8b21e;
    padding: 0px;
    padding-top: 5px;}
    
    h2 {background-color: none;
    font-family:'PT Sans', sans-serif;
    font-size: 24px;
    color: #1e83cf;
    padding: 5px;
    padding-top: 5px;}
    
    ul {list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size:25px;
    background-color: none;}
    
    li {float: left;}
    
    li a {display: block;
    color: #a6b1b3;
    text-transform: uppercase;
    font-family:'PT Sans', sans-serif;
    text-align: center;
    padding: 14px 16px; 
    text-decoration: none;}
    
    li a hover {background-color: #111;}
    
    
    .bar {width: 99%;
    height:10px;
    position: absolute;
    background-color:#12407A;
    top: 65px;}
    
    .caption {background-color: none;
    font-family:'Chakra Petch', sans-serif;
    color:#000;
    font-size: 12px;
    position: absolute;
    top: 635px;
    left: 50px;}
    
    .caption2 {background-color: none;
    font-family:'Chakra Petch', sans-serif;
    color:#000;
    font-size: 12px;
    position: absolute;
    top: 325px;
    left: 500px;}
    
    .caption3 {background-color: none;
    font-family:'Chakra Petch', sans-serif;
    color:#000;
    font-size: 12px;
    position: absolute;
    top: 325px;
    left: 950px;}

    .caption4 {background-color: none;
        font-family:'Chakra Petch', sans-serif;
        color:#000;
        font-size: 12px;
        position: absolute;
        top: 325px;
        left: 50px;}
    
    .landing {background-color: none;
    width: 500px;
    height: 300px;
    border: 0px solid #000;
    position: absolute;
    top: 100px;
    left: 500px;}
    
    .about {background-color: none;
    width: 500px;
    height: 300px;
    border: 0px solid #000;
    position: absolute;
    top: 100px;
    left: 500px;}
    
    .hobby1 {background-color: none;
    width: 350px;
    height: 300px;
    border: 0px solid #000;
    position: absolute;
    top: 335px;
    left: 50px;}
    
    .hobby2 {background-color: none;
    width: 350px;
    height: 300px;
    border: 0px solid #000;
    position: absolute;
    top: 335px;
    left: 500px;}
    
    .hobby3 {background-color: none;
    width: 350px;
    height: 300px;
    border: 0px solid #000;
    position: absolute;
    top: 335px;
    left: 950px;}
    
    .photo {background-color: #1e83c7;
    width: 400px;
    height: 500px;
    position: absolute;
    top: 130px;
    left: 50px;}
    
    .h1pho {background-color: #1e83c7;
    width: 350px;
    height: 150px;
    position: absolute;
    top: 165px;
    left: 50px;}
    
    .h2pho {background-color: #1e83c7;
    width: 350px;
    height: 150px;
    position: absolute;
    top: 165px;
    left: 500px;}
    
    .h3pho {background-color: #1e83c7;
    width: 350px;
    height: 150px;
    position: absolute;
    top: 165px;
    left: 950px;}

   